#painel {
    display: block;
    max-width: 1020px;
    height: 300px;
     flex-direction: column;
    flex-wrap: wrap;
}

/* .bloco {
    display: flex;
    width: 500px;
    height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
} */

.texto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
